<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
		<add name="DAL.Properties.Settings.QLKhoConnectionString" connectionString="Data Source=.;Initial Catalog=QLKho;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
		<add name="DAL.Properties.Settings.QLKhoConnectionString1" connectionString="Data Source=.;Initial Catalog=QLKho;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>